<template>
  <div>
    <input
      :id="id"
      class="visually-hidden"
      :class="inputClass"
      type="file"
      :accept="accept"
      @change="uploadFile"
    />
    <slot name="upload-label"></slot>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  props: {
    id: {
      type: String,
      default: 'c-file-input',
    },
    accept: {
      type: String,
      default: 'image/jpeg,image/png,image/bmp',
    },
    inputClass: {
      type: [String, Array],
      default: '',
    },
    // 'file' or 'all'
    output: {
      type: String,
      default: 'file',
    },
  },
  data: () => ({
    imagePreview: null,
    currFile: {},
  }),
  methods: {
    ...mapActions('notifications', ['error']),
    uploadFile(e) {
      const f = e.target.files[0]
      if (f) {
        const size = f.size / 1024 / 1024
        if (size > 15) {
          this.error(this.$t('error.chosePhotoSmaller'))
          e.target.value = ''
        } else {
          this.emitLoad()
          this.handleFile(f)
        }
      }
    },
    emitEvent(output) {
      this.$emit('input', output)
      this.$emit('change', output)
    },
    emitLoad() {
      this.$emit('onUpload')
    },
    emitComplete() {
      this.$emit('onComplete')
    },
    handleFile(file) {
      this.currFile = file
      const mimetype = file.type.split('/')
      if (mimetype[0] !== 'image') {
        this.emitEvent(file) // does NOT respect the output format prop
        this.emitComplete()
      } else {
        const img = document.createElement('img')
        const reader = new window.FileReader()
        reader.addEventListener('load', e => {
          img.src = e.target.result
          img.addEventListener('load', () => {
            this.formatImg(img)
          })
        })
        reader.readAsDataURL(file)
      }
    },
    formatImg(img) {
      const canv = document.createElement('canvas')
      canv.width = img.width
      canv.height = img.height
      const ctx = canv.getContext('2d')
      ctx.save()
      ctx.drawImage(img, 0, 0)
      ctx.restore()

      const imgData = canv.toDataURL(this.currFile.type, 1)
      this.imagePreview = imgData

      this.emitEvent(this.formatOutput(imgData))
      this.emitComplete()
    },
    formatOutput(imgData) {
      if (this.output === 'file') return this.currFile
      else {
        return {
          dataUrl: imgData,
          name: this.currFile.name,
          type: this.currFile.type,
          lastModified: this.currFile.lastModified,
          lastModifiedDate: this.currFile.lastModifiedDate,
        }
      }
    },
  },
}
</script>
