<i18n>
{
  "ru": {
    "placePlaceholder": "Начните вводить"
  },
  "en": {
    "placePlaceholder": "Start typing"
  },
  "es": {
    "placePlaceholder": "Start typing"
  }
}
</i18n>

<template>
  <div class="location">
    <div class="location__selects">
      <FormSelect
        :id="id"
        :options="cities"
        trackBy="name"
        :value="city"
        :clearOnSelect="false"
        :preserveSearch="true"
        :loading="loading"
        @search-change="asyncCitySearch"
        @select="updateCity"
      >
        <template
          slot="singleLabel"
          slot-scope="{ option }"
        >{{ option.name }}{{ option.country.name ? `, ${option.country.name }` : '' }}</template>
        <template
          slot="option"
          slot-scope="{ option }"
        >{{ option.name }}{{ option.country.name ? `, ${option.country.name }` : '' }}</template>
      </FormSelect>

      <FormSelect
        :id="id"
        :options="locations"
        trackBy="place_id"
        :placeholder="$t('placePlaceholder')"
        :value="location"
        :clearOnSelect="false"
        :preserveSearch="true"
        :loading="locationsLoading"
        @search-change="asyncLocationSearch"
        @select="updateLocation"
      >
        <template slot="singleLabel" slot-scope="{ option }">{{ option.name }}</template>
        <template slot="option" slot-scope="{ option }">
          <div class="place-option">
            <div>{{ option.name }}</div>
            <div class="place-option__address">{{ option.formatted_address }}</div>
          </div>
        </template>
      </FormSelect>
    </div>

    <GmapMap 
      ref="map" 
      :center="center" 
      :zoom="13"
      class="location__map" 
      map-type-id="roadmap"
    >
      <GmapMarker :position="marker.position" :icon="marker.icon" />
    </GmapMap>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { path, prop } from 'ramda'

import { getCities } from '~/api'
import { debounce } from '~/utils'

import FormSelect from '~/components/common/input/FormSelect'

const markerIcon = {
  url: '/map/marker.svg',
  scaledSize: {
    height: 32,
    width: 20,
  },
}

export default {
  name: 'Location',

  components: {
    FormSelect,
  },

  props: {
    id: String,
    city: {
      type: Object,
      default: () => ({}),
    },
    location: {
      type: Object,
      default: () => ({}),
    },
  },

  data: () => ({
    center: {
      lat: 0,
      lng: 0,
    },

    marker: {
      icon: markerIcon,
      positon: {
        lat: 0,
        lng: 0,
      },
    },

    title: '',
    loading: false,
    cities: [],

    locations: [],
    locationsLoading: false,
  }),

  computed: {
    ...mapGetters({
      GET_CITY: 'city/GET_CITY',
    }),
  },

  mounted() {
    const hasCity = prop('id', this.city)
    const hasLocation = prop('place_id', this.location)

    if (!hasCity) {
      this.updateCity(this.GET_CITY)
    } else if (hasCity && !hasLocation) {
      this.focusMapOnCity()
    } else if (hasCity && hasLocation) {
      this.focusMapOnLocation()
    }
  },

  methods: {
    focusMap({ lat, lng }) {
      this.center = { lat, lng }
      this.marker.position = { lat, lng }
    },
    focusMapOnLocation() {
      const lat = this.location.geometry.location.lat
      const lng = this.location.geometry.location.lng

      this.focusMap({ lat, lng })
    },
    focusMapOnCity() {
      const lat = path(['location', 'lat'], this.city) || 0
      const lng = path(['location', 'lng'], this.city) || 0

      this.focusMap({ lat, lng })
    },
    asyncCitySearch: debounce(async function(v) {
      this.loading = true

      this.fetchCities({ search: v })

      this.loading = false
    }, 300),
    asyncLocationSearch: debounce(async function(v) {
      this.locationsLoading = true

      this.searchLocations({ search: v })

      this.locationsLoading = false
    }, 300),
    async fetchCities({ search }) {
      this.loading = true

      try {
        const { data } = await getCities(this.$axios, {
          params: {
            search,
            expand: 'country',
          },
        })
        this.cities = data.results
      } catch (e) {
        console.log(e)
        this.cities = []
      }

      this.loading = false
    },
    async searchLocations({ search }) {
      if (!search) return
      try {
        // eslint-disable-next-line no-undef
        const service = new google.maps.places.PlacesService(
          this.$refs.map.$mapObject,
        )

        const lat = path(['location', 'lat'], this.city) || 0
        const lng = path(['location', 'lng'], this.city) || 0

        await new Promise((resolve, reject) => {
          service.textSearch(
            {
              query: search,
              location: { lat, lng },
              radius: 50000,
            },
            (results, status) => {
              // eslint-disable-next-line no-undef
              if (status === google.maps.places.PlacesServiceStatus.OK) {
                this.locations = results
              } else {
                this.locations = []
                reject(status)
              }
            },
          )
        })
      } catch (e) {
        console.log(e)
      }
    },
    updateCity(city) {
      this.$emit('update:city', city)

      this.updateLocation(null)

      this.$nextTick(() => {
        this.city && this.focusMapOnCity()
      })
    },
    async updateLocation(place) {
      const hasPlace = prop('place_id', place)

      if (hasPlace) {
        this.$store.dispatch('popovers/SWITCH_PRE_LOADER', true)

        try {
          // eslint-disable-next-line no-undef
          const service = new google.maps.places.PlacesService(
            this.$refs.map.$mapObject,
          )

          const result = await new Promise((resolve, reject) => {
            service.getDetails(
              {
                placeId: place.place_id,
                fields: ['address_components', 'geometry', 'name', 'place_id'],
              },
              (result, status) => {
                // eslint-disable-next-line no-undef
                if (status === google.maps.places.PlacesServiceStatus.OK) {
                  resolve(result)
                } else {
                  reject(status)
                }
              },
            )
          })

          const location = JSON.parse(JSON.stringify(result))
          this.$emit('update:location', location)
        } catch (e) {
          console.log(e)
          this.$emit('update:location', null)
        }

        this.$store.dispatch('popovers/SWITCH_PRE_LOADER', false)
      } else {
        if(this?.location?.geometry ) {
          this.$emit('update:location', null)
        }
      }

      this.$nextTick(() => {
        if( this?.location?.geometry) {
          return this.focusMapOnLocation();
        }
        return this.focusMapOnCity()
      })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.location {
  &__selects {
    margin-bottom: 8px;
    display: grid;
    grid-gap: 8px;

    @media (min-width: $desktopSD) {
      grid-template-columns: 1fr 1fr;
      // grid-auto-flow: column;
    }

    @media (min-width: $sideShow) {
      margin-bottom: 16px;
    }
  }

  &__map {
    height: 344px;
  }
}

.place-option {
  &__address {
    @include text(1.5);
  }
}
</style>