<template>
  <div>
    <FormSelect
      :id="id"
      :options="options"
      trackBy="name"
      :value="value"
      :loading="loading"
      :clearOnSelect="false"
      :preserveSearch="true"
      :disabled="disabled"
      @select="updateTimezone"
      @search-change="asyncFind"
    >
      <template slot="singleLabel" slot-scope="{ option }">{{ option.name }}</template>
      <template slot="option" slot-scope="{ option }">{{ option.name }}</template>
    </FormSelect>
  </div>
</template>

<script>
import { prop } from 'ramda'

import { getTimeZones } from '~/api'
import { debounce } from '~/utils'

import FormSelect from '~/components/common/input/FormSelect'

function detectTimeZone() {
  try {
    return Intl.DateTimeFormat().resolvedOptions().timeZone || ''
  } catch (e) {
    return ''
  }
}

export default {
  name: 'TimeZone',

  components: {
    FormSelect,
  },

  props: {
    id: String,
    value: {
      type: Object,
      default: () => ({}),
    },
    disabled: Boolean,
  },

  data: () => ({
    options: [],
    loading: false,
  }),

  mounted() {
    // For disabled timezone always depends on a city and is received via props
    if (!this.disabled) {
      this.initTimeZone()
    }
  },

  methods: {
    async initTimeZone() {
      const hasTimeZone = Boolean(prop('name', this.value))
      if (hasTimeZone) return

      const timezone = detectTimeZone()
      await this.fetchOptions({ search: timezone })

      this.updateTimezone(this.options[0])
    },
    updateTimezone(v) {
      this.$emit('input', v)
    },
    asyncFind: debounce(async function(v) {
      this.fetchOptions({ search: v })
    }, 300),
    async fetchOptions({ search }) {
      this.loading = true

      try {
        const { data } = await getTimeZones(this.$axios, {
          params: {
            search,
          },
        })
        this.options = data.results
      } catch (e) {
        console.log(e)
        this.options = []
      }

      this.loading = false
    },
  },
}
</script>