<i18n>
{
  "ru": {
    "eventGuide": "Гид по созданию события"
  },
  "en": {
    "eventGuide": "Event Creation Guide"
  },
  "es": {
    "eventGuide": "Guía de Creación de Eventos"
  }
}
</i18n>

<template>
  <nuxt-link
    :to="{ name: 'guide-events-create' }"
    target="_blank"
    class="guide-button"
  >{{ $t('eventGuide') }}</nuxt-link>
</template>

<script>
export default {
  name: 'FixedGuideButton',
}
</script>

<style lang="scss" scoped>
.guide-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 30px 0 24px;
  background-color: #000;
  color: #fff;
  position: fixed;
  right: 0;
  height: 56px;
  top: 45%;
  transform: rotate(-90deg) translateX(calc(0% + 56px));
  transform-origin: right bottom;
  transition: background-color 0.3s;

  &:hover {
    background-color: #323232;
  }

  &:before {
    content: '?';
    width: 16px;
    height: 16px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    margin-right: 10px;
    transform: rotate(90deg);
  }
}
</style>