<template>
  <div class="img-resizer">
    <div class="img-resizer_cont">
      <div class="cover-remove-btn">
        <BtnWithIcon
          v-tooltip.auto="$t('common.deletePhoto')"
          icon="trash"
          invert
          @click="$emit('img:remove')"
        />
      </div>
      <VueCropper
        ref="cropper"
        :toggleDragModeOnDblclick="false"
        :background="false"
        :zoomable="false"
        :movable="false"
        :guides="false"
        :center="true"
        :highlight="false"
        :view-mode="0"
        :crop-box-movable="true"
        drag-mode="none"
        :auto-crop-area="1"
        :minCanvasWidth="300"
        :minCanvasHeight="300"
        :src="image"
        :crop="cropImage"
        :cropend="cropEnd"
        :containerStyle="{
          display: 'flex',
          'align-items': 'center',
          'max-width': '700px',
          height: '560px',
        }"
      />
    </div>
    <div v-if="isHorizontal" class="img-resizer__block vertical" :style="gradient"></div>
    <div v-else class="img-resizer__block horizontal" :style="gradient"></div>
  </div>
</template>
<script>
import VueCropper from 'vue-cropperjs'
import 'cropperjs/dist/cropper.css'
import { debounceEvent } from '~/utils'

export default {
  components: {
    BtnWithIcon: () => import('~/components/common/buttons/BtnWithIcon'),
    VueCropper,
  },
  props: {
    image: {
      type: String,
      required: true,
    },
    dims: Object,
    gradient: String,
    aspectRatio: Number,
  },
  computed: {
    isHorizontal() {
      return this.aspectRatio >= 1
    },
  },
  mounted() {
    this.cropImage = debounceEvent(this.cropImage, 70)
    this.cropEnd = debounceEvent(this.cropEnd, 200)
  },
  methods: {
    cropImage(e) {
      if (!this.$refs.cropper) return
      const imgData = this.$refs.cropper.getData()
      const aspectR = imgData.width / imgData.height
      if (aspectR < 1) {
        const ev = this.$refs.cropper
          .getCroppedCanvas({ width: 200, height: 300 })
          .toDataURL()
        this.$emit('img:crop', {
          img: ev,
          w: ~~imgData.width,
          h: ~~imgData.height,
        })
      } else {
        const ev = this.$refs.cropper
          .getCroppedCanvas({ width: 300, height: 200 })
          .toDataURL()
        this.$emit('img:crop', {
          img: ev,
          w: ~~imgData.width,
          h: ~~imgData.height,
        })
      }
    },
    cropEnd(e) {
      const image = this.$refs.cropper
        .getCroppedCanvas({ maxWidth: 1400, maxHeight: 1400 })
        .toDataURL()
      this.$emit('img:cropped', image)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.img-resizer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 560px;
  max-height: 560px;
  min-height: 272px;
  @media (max-width: $desktopSD) {
    height: 500px;
  }

  &:after {
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    content: '';
    position: absolute;
    display: block;
    z-index: 1;

    background-image: linear-gradient(to right, $blue 50%, transparent 0),
      linear-gradient(to left, $blue 50%, transparent 0),
      linear-gradient(to top, $blue 50%, transparent 0),
      linear-gradient(to bottom, $blue 50%, transparent 0);
    background-size: 10px 1px, 10px 1px, 1px 10px, 1px 10px;
    background-position: top, bottom, left, right;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 2rem;
  }
  @media (max-width: 426px) {
    height: auto;
  }
  &_cont {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 80;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__block {
    position: absolute;
    z-index: 1;
    &.vertical {
      height: 100%;
      width: 366px;
    }
    &.horizontal {
      height: 400px;
      width: 100%;
    }
  }

  .cover-remove-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 90;
  }
}
</style>

<style lang="scss">
.cropper-modal {
  background: transparent !important;
}
.cropper-point {
  $offset: -5px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  opacity: 1;
  background-color: #fff;
  border: 2px solid #0070ff;
  &:hover {
    background-color: #0070ff;
  }
  &.point-e {
    right: $offset;
  }
  &.point-n {
    top: $offset;
  }
  &.point-w {
    left: $offset;
  }
  &.point-s {
    bottom: $offset;
  }
  &.point-ne {
    right: $offset;
    top: $offset;
  }
  &.point-nw {
    left: $offset;
    top: $offset;
  }
  &.point-sw {
    bottom: $offset;
    left: $offset;
  }
  &.point-se {
    right: $offset;
    bottom: $offset;
    height: 10px;
    width: 10px;
  }
}
.cropper-line {
  background-color: #0070ff;
  opacity: 1;
  &.line-e {
    width: 1px;
    right: -1px;
  }
  &.line-n {
    height: 1px;
    top: -1px;
  }
  &.line-w {
    width: 1px;
    left: -1px;
  }
  &.line-s {
    height: 1px;
    bottom: -1px;
  }
}
</style>
