<i18n>
{
  "ru": {
    "addCover": "Добавить обложку события",
    "details": "Для обложки лучше всего использовать фото, относящееся к событию. Кликните на плюс, чтобы выбрать файл на вашем компьютере.",
    "format": "Формат: jpg, png до 10 Мб, разрешением не менее 1200 px по большей стороне"
  },
  "en": {
    "addCover": "Add event cover",
    "details": "We recommend to use a photo directly related to the event as a cover photo. Click on \"+\" to select a file on your computer.",
    "format": "Format: jpg, png no larger than 10 Mb. Minumum 1200 pixels on the long side."
  },
  "es": {
    "addCover": "Añadir portada del evento",
    "details": "Recomendamos utilizar una foto directamente vinculada al evento como poster. Pinche en \"+\" para seleccionar un fichero en su PC",
    "format": "Formato: JPG, PNG no superior a 10 Mb. Mínimo de 1200 pixeles en el lado más ancho"
  }
}
</i18n>

<template>
  <section class="add-cover_wrapper">
    <ImageUploader
      v-if="!hasUploaded"
      id="CreateEvAddCover"
      class="add-cover_wrapper__uploader"
      @change="handleCover"
    >
      <label
        slot="upload-label"
        for="CreateEvAddCover"
        class="event-add-cover"
        :class="{ 'event-add-cover--loading': loader}"
      >
        <template v-if="!loader">
          <span class="event-add-cover__cross"></span>
          <span class="event-add-cover__title">{{ $t('addCover') }}</span>
          <span class="event-add-cover__details">
            <span class="hidden-mobile-only">
              {{ $t('details') }}
              <br />
              <br />
            </span>
            {{ $t('format') }}
          </span>
        </template>
        <Loader v-else />
      </label>
    </ImageUploader>
    <ImgCropper
      v-if="hasUploaded && !loader"
      :image="coverSrc"
      :dims="dim"
      :gradient="gradient"
      :aspectRatio="aspect"
      @img:remove="removeCover"
      @img:crop="handleCropped"
      @img:cropped="handleCropEnd"
    />
  </section>
</template>

<script>
import thumborize from '~/utils/thumborize'

import Loader from '~/components/common/Loader'
import ImageUploader from '~/components/common/input/ImageUploader'
import ImgCropper from './ImgCropper'

const calcAspectRatio = (w, h) => w / h
const calcResolution = (ow, oh) => {
  const aspect = calcAspectRatio(ow, oh)
  if (aspect >= 1) {
    const width = Math.min(1400, ow)
    const height = parseInt((width * oh) / ow)
    return { width, height, aspect }
  } else {
    const height = Math.min(1120, oh)
    const width = parseInt((height * ow) / oh)
    return { width, height, aspect }
  }
}

export default {
  components: {
    ImgCropper,
    Loader,
    ImageUploader,
  },
  props: {
    coverImage: String,
    evData: {
      type: Object,
      default: () => ({}),
    },
  },
  data: () => ({
    hasUploaded: false,
    loader: false,
    coverSrc: '',
    croppedImg: '',
    aspect: null,
    dim: {
      width: null,
      height: null,
    },
    gc1: '',
    gc2: '',
  }),
  computed: {
    gradient() {
      if (!this.gc1 && this.gc2) return ''
      return `background-image: linear-gradient(to bottom, ${this.gc1}, ${this.gc2});`
    },
  },
  beforeMount() {
    this.hasInitialImg()
  },
  methods: {
    hasInitialImg() {
      if (this.coverImage) {
        this.coverSrc = this.coverImage
        this.hasUploaded = true
      }
    },
    hasGradient(img) {
      if (!img.find_gradient) return
      this.gc1 = img.main_color_1
      this.gc2 = img.main_color_2
    },
    async handleCover(imgFile) {
      this.loader = true
      const params = { find_gradient: true, find_main_color: true }
      try {
        const img = await this.$store.dispatch('images/UPLOAD', {
          file: imgFile,
          ...params,
        })
        this.hasGradient(img)
        const { width: w, height: h, aspect } = calcResolution(
          img.original_width,
          img.original_height,
        )
        this.aspect = aspect
        this.dim = { width: w, height: h }
        this.coverSrc = thumborize(img.image, undefined, w, h)
        await this.$store.dispatch('newEvent/SET_FIELD', {
          value: img,
          key: 'cover',
        })
        this.hasUploaded = true
        this.$emit('cover:upload', { src: this.coverSrc, image: img })
      } catch (e) {
        console.log(e)
        this.$store.dispatch('notifications/error', e.message)
      } finally {
        this.loader = false
      }
    },
    removeCover() {
      this.hasUploaded = false
      this.coverSrc = ''
      this.croppedImg = ''
      this.$store.dispatch('newEvent/SET_FIELD', { value: null, key: 'cover' })
      this.$emit('cover:upload', { src: null, image: null })
      this.$emit('cover:cropped', null)
    },
    handleCropped(e) {
      // console.log(e)
      this.croppedImg = e.img
      this.dim = { width: e.w, height: e.h }
    },
    handleCropEnd(e) {
      this.croppedImg = e
      this.$emit('cover:cropped', e)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.add-cover_wrapper {
  display: grid;
  justify-items: center;
  width: 100%;

  &__uploader {
    width: 100%;
  }
  .cover-preview {
    width: 160px;

    @media (min-width: $desktopSD) {
      width: 248px;
    }
  }
}

.event-add-cover {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  color: $blue;
  cursor: pointer;
  height: 224px;

  &--loading {
    justify-content: center;
  }

  &:after {
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    content: '';
    position: absolute;
    display: block;
    z-index: 1;

    background-image: linear-gradient(to right, $blue 50%, transparent 0),
      linear-gradient(to left, $blue 50%, transparent 0),
      linear-gradient(to top, $blue 50%, transparent 0),
      linear-gradient(to bottom, $blue 50%, transparent 0);
    background-size: 10px 1px, 10px 1px, 1px 10px, 1px 10px;
    background-position: top, bottom, left, right;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  }

  @media (min-width: $desktopSD) {
    height: 440px;
  }

  @media (min-width: $desktopHD) {
    height: 560px;
  }

  &__cross {
    display: block;
    font-size: 24px;
    margin-bottom: 10px;

    @media (min-width: $desktopSD) {
      font-size: 36px;
    }

    &::before {
      content: '\47';
      line-height: 1;
      font-family: 'ww-icons';
    }
  }

  &__title {
    display: inline-block;
    @include text(1.5);
    font-weight: bold;
    line-height: 2;
    text-align: center;
    margin-bottom: 24px;

    @media (min-width: $desktopSD) {
      @include text(2.25);
      margin-bottom: 48px;
    }

    @media (min-width: $desktopHD) {
      margin-bottom: 88px;
    }
  }

  &__details {
    @include text(1.5);
    color: #000;
    margin: 0 24px 40px 24px;
    text-align: center;

    @media (min-width: $desktopSD) {
      margin: 0 54px 70px 54px;
    }
  }
}
</style>
