<i18n>
{
  "ru": {
    "phoneLabel": "Телефон",
    "emailLabel": "Электронная почта"
  },
  "en": {
    "phoneLabel": "Phone",
    "emailLabel": "Email"
  },
  "es": {
    "phoneLabel": "Teléfono",
    "emailLabel": "Correo electrónico"
  }
}
</i18n>

<template>
  <div class="event-organizer">
    <div v-if="hasUser" class="user-card event-organizer__user-card">
      <AsyncImage :image="userImage" class="user-card__avatar" />

      <div class="user-card__main">
        <div class="user-card__name" style="-webkit-box-orient: vertical;">{{ user.name }}</div>
      </div>
    </div>
  <div :class="isEdit ? 'edit' : ''" >
      <FormRow v-if="isEdit" class="event-organizer__phones edit-row" :error="errors.phones">
        <template #label>{{ $t('phoneLabel') }}</template>
        <template slot-scope="{ id }">
          <Phones :id="id" :value="phones" @input="updatePhones" />
        </template>
      </FormRow>
      <FormRow v-else class="event-organizer__phones" :error="errors.phones">
        <template #label>{{ $t('phoneLabel') }}</template>
        <template slot-scope="{ id }">
          <FormInputArray :id="id" :value="phones" @input="updatePhones" />
        </template>
      </FormRow>

      <FormRow :class="isEdit ? 'edit-row' : ''" :error="errors.emails">
        <template #label>{{ $t('emailLabel') }}</template>
        <template slot-scope="{ id }">
          <Emails :id="id" :value="emails" @input="updateEmails" />
        </template>
      </FormRow>
  </div>
  </div>
</template>

<script>
import { prop, path } from 'ramda'

import AsyncImage from '~/components/common/AsyncImage'
import FormRow from '~/components/common/FormRowNew'
import FormInputArray from '~/components/common/input/FormInputArray'

export default {
  name: 'EventOrganizer',

  components: {
    AsyncImage,
    FormRow,
    FormInputArray,
    Phones: () => import('./Phones'),
    Emails: () => import('./Emails'),
  },

  props: {
    user: {
      type: Object,
      default: () => ({}),
    },
    emails: {
      type: Array,
      required: true,
    },
    phones: {
      type: Array,
      required: true,
    },
    isEdit: Boolean,
    errors: {
      type: Object,
      default: () => ({}),
    },
  },

  computed: {
    hasUser() {
      return prop('id', this.user)
    },
    userImage() {
      return path(['avatar', 'image'], this.user)
    },
  },

  mounted() {
    this.initData()
  },

  methods: {
    initData() {
      const hasEmails =
        Boolean(prop('length', this.emails)) && this.emails.some(Boolean)
      const hasPhones =
        Boolean(prop('length', this.phones)) && this.phones.some(Boolean)

      if (hasEmails && hasPhones) return

      if (this.isEdit) {
        !hasEmails && this.updateEmails([''])
        !hasPhones && this.updatePhones([''])
        return
      }

      if (!this.hasUser) {
        this.updateEmails([''])
        this.updatePhones([''])

        return
      }

      const hasUserEmails = [
        this.user.email,
        ...this.user.additional_emails,
      ].some(Boolean)
      const hasUserPhones = this.user.phones.some(Boolean)

      const emails = hasUserEmails
        ? [this.user.email, ...this.user.additional_emails]
        : ['']
      const phones = hasUserPhones ? this.user.phones : ['']

      this.updateEmails(emails)
      this.updatePhones(phones)
    },
    updateEmails(v) {
      this.$emit('update:emails', v)
    },
    updatePhones(v) {
      this.$emit('update:phones', v)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
.edit{
  display: flex;
  justify-content: space-between;
  @media (max-width: 480px) {
    flex-direction: column;
  }
  .edit-row{
    width: 50%;
    margin-right: 10px;
    @media (max-width: 480px) {
      width: 100%;
    }
  }
}
.event-organizer {
  &__user-card {
    margin-bottom: 22px;
  }

  &__phones {
    margin-bottom: 20px;

    @media (min-width: $desktopSD) {
      margin-bottom: 22px;
    }
  }

  .user-card {
    display: flex;
    width: 100%;
    max-width: 320px;
    background-color: #fff;
    padding: 16px 14px 10px 16px;

    &__avatar {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      flex-shrink: 0;
    }

    &__main {
      padding-left: 24px;
    }

    &__name {
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      height: 48px;
      display: -webkit-box;
      // move to inline style, not ?parsed? in class
      // -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
</style>