<template>
  <div class="form-input-array">
    <FormInput
        v-for="(v, idx) in phones"
        :id="idx === phones.length - 1 && id || null"
        :key="idx"
        class="form-input-array__input"
        :value="v"
        :error="error[idx]"
        @input="onInput($event, idx)"
    >
      <template v-if="idx === phones.length - 1" #icon>
        <Icon
            class="form-input-array__icon"
            src="icons/plus.svg"
            size="l"
            @click="addValue"
        />
      </template>
    </FormInput>
  </div>
</template>

<script>
  import FormInput from '~/components/common/input/FormInput'
  import Icon from '~/components/common/Icon'

  export default {
    name: 'Phones',

    components: {
      FormInput,
      Icon,
    },

    props: {
      id: [String, Number],
      value: {
        type: Array,
        required: true,
      },
    },
    data: () => ({
      error: []
    }),
    computed: {
      phones() {
        const regex =  /^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$/;
        this.value.map((v, i)=> {
          if(v && v.match(regex) === null || v.length > 50) {
            this.error[i] = true
          } else {
            this.error[i] = false
          }
          const hasPhoneError = this.error.some(e => e === true)
          this.$store.dispatch('eventEdit/setEventOrganizerPhonesError',{hasError: hasPhoneError })

        })
        return this.value
      }
    },

    methods: {
      onInput(v, idx) {
        const updatedValue = [...this.value]
        updatedValue[idx] = v

        this.updatedValue(updatedValue)
      },
      addValue() {
        const lastItemIsEmpty = !this.value[this.value.length - 1]
        if (lastItemIsEmpty) return

        const updatedValue = [...this.value, '']

        this.updatedValue(updatedValue)
      },
      updatedValue(v) {
        this.$emit('input', v)
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';

  .form-input-array {
    &__input:not(:last-child) {
      margin-bottom: 4px;
    }

    &__icon {
      color: $blue;
    }
  }
</style>
