<template>
  <div class="form-input__wrapper">
    <component
      :is="inputComponent"
      class="form-input"
      :class="{
        'form-input--error': error,
        'form-input--icon': hasIcon,
        [`form-input--variant-${variant}`]: variant
      }"
      v-bind="componentProps"
      v-on="inputListeners"
    />
    <span v-if="hasIcon" class="form-input__icon">
      <slot name="icon" />
    </span>
  </div>
</template>

<script>
  import { is } from "ramda"
  import { TheMask } from 'vue-the-mask'
  import Input from './Input'
  import Textarea from './Textarea'

  export default {
    name: 'FormInput',
    components: {
      TheMask,
      Input,
      Textarea
    },
    inheritAttrs: false,
    props: {
      value: {
        required: true,
        validator: prop => typeof prop === 'string' || typeof prop === 'number' || prop === null
      },
      placeholder: {
        type: String,
        default: '',
      },
      error: Boolean,
      disabled: Boolean,
      type: {
        type: String,
        default: 'text',
      },
      variant: {
        type: String,
        default: '',
        validator: v => ['', 'medium', 'bordered'].indexOf(v) !== -1,
      },
      component: {
        type: String,
        default: 'input',
        validator: v => ['input', 'textarea', 'TheMask'].indexOf(v) !== -1,
      },
      /**
       * Padding for right icon
       */
      paddingRight: {
        type: [String, Number],
        default: '',
      },
    },

    computed: {
      inputComponent() {
        if (this.component === 'TheMask')
          return TheMask
        if (this.component === 'textarea')
          return Textarea
        return Input
      },
      componentProps() {
        const props = {
          disabled: this.disabled,
          placeholder: this.placeholder,
          value: this.value,
          ...this.$attrs
        }

        if (this.paddingRight){
          props['style'] = {paddingRight: `${this.paddingRight}px`}
        }

        if (this.component !== 'textarea') {
          props['type'] = this.type
        }
        if (this.component === 'TheMask'){
          props['masked'] = this.$attrs.masked !== false 
        }
        

        return props
      },
      hasIcon() {
        return this.$slots.icon
      },
      inputListeners() {
        return {
          ...this.$listeners,
          input: event => {
            const value = is(Event, event) ? event.target.value: event
            this.$emit('input', value)
          },
        }
      },
    },
  }
</script>

<style lang="scss">
  @import '~/assets/css/variables.scss';
  textarea {
    resize: none;
  }

  input.form-input {
    height: 56px;

    &--variant-bordered {
      max-height: 56px;
    }
  }

  @media (min-width: $desktopSD) {
    input.form-input {
      height: 80px;
    }
  }

  .form-input {
    background-color: #ffffff;
    padding: 8px 16px;
    @include text(2);
    transition: 0.3s ease-out;

    @media (min-width: $desktopSD) {
      padding: 8px 26px;
      @include text(3);
    }

    &::placeholder {
      color: #cccccc;
      @include text(2);
      font-weight: bold;

      @media (min-width: $desktopSD) {
        @include text(3);
      }
    }

    &:disabled {
      cursor: no-drop;
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba($blue, 1);
      border: 0;
    }

    &--error {
      box-shadow: 0 0 0 2px rgba($red, 1);
      border: 0;

      & + .form-input__icon {
        color: $red;
      }
    }

    &--icon {
      padding-right: 64px;
    }

    &--variant-medium {
      height: 64px;
      padding: 8px 24px;
      @include text(2);

      &::placeholder {
        @include text(2);
        font-weight: normal;
      }
    }
    &--variant-bordered {
      border: solid 1px #000000;

      &.form-input--error {
        border: 0;
      }

      &:focus {
        border: 0;
      }

      padding: 2.125 * $base 3.25 * $base 2 * $base 3.25 * $base;
      font-weight: normal;
      @include text(2);

      &::placeholder {
        @include text(2);
        font-weight: normal;
      }
    }

    &__wrapper {
      position: relative;
    }

    &__icon {
      cursor: pointer;
      display: flex;
      align-items: center;
      position: absolute;
      z-index: 1;
      padding: 16px;
      right: 0;
      top: 50%;
      height: 100%;
      transform: translateY(-50%);
    }
  }
</style>
