$base: 8px;

$circe: 'Circe', Tahoma, Arial;

$primary: var(--primary);
$secondary: var(--secondary);
$light-blue: #1b7fff;
$blue: #0070ff;
$dark-blue: #0063e0;
$black-blue: #223a76;

$red: #f50052;
$light-red: #ff4d88;
$special-red: #d11701;
$dark-red: #db0049;

$gray: #f8f9fa;
$dark-gray: #e6eaed;
$black-gray: #c6c7c8;
$black-gray-hover: #9e9fa0;

$ww-side-width: 14 * $base;
$ww-side-width-1: 96px;
$wrapper-max-width: 163 * $base;
$wrapper-padding-left: $ww-side-width;
$wrapper-padding-right: 9 * $base;
$place-cover-height: 68 * $base;
$scroll-width: 0.75 * $base;

$mobile: 'max-width: 426px';
$desktopSD: 768px;
$desktopHD: 1024px;
$sideShow: 1280px;
$desktopHDp: 1600px;
$desktopFullHD: 1920px;

@function piecewise-linear-margin(
  $screen1,
  $screen2,
  $margin1,
  $margin2,
  $conf: 1
) {
  $a: ($margin2 - $margin1) / ($screen2 - $screen1);
  $b: ($margin1 * $screen2 - $margin2 * $screen1) / ($screen2 - $screen1);
  $margin: calc(#{$conf} * (#{$a} * 100vw + #{$b}));
  @return $margin;
}

@function mq-resolution($ratio: 1) {
  @return (-webkit-min-device-pixel-ratio: $ratio),
  (min-resolution: 96dpi * $ratio);
}

@function ratio($for, $of) {
  @return 100% * $for / $of;
}

@mixin text($multiplier) {
  $media-multiplier: 1;
  font-size: $multiplier * $base * $media-multiplier;
  line-height: ($multiplier + 1) * $base * $media-multiplier;
}

@mixin no-text-wrap() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}