<template>
  <div class="new-input">
    <label>
      <input
          :id="id"
          :autocomplete="autocomplete"
          class="new-input__field"
          :class="variants"
          type="email"
          :placeholder="placeholder"
          :value="value"
          :required="required"
          :style="styles"
          :disabled="disabled"
          @input="$emit('input', $event.target.value)"
          @keydown="$emit('keydown', $event)"
          @keyup="$emit('keyup', $event)"
          @blur="$emit('blur', $event)"
          @change="handleEmailInputValue"
      />
      <span v-if="icon"
            class="new-input__icon ww-icn-envelope-o"
            :class="iconClass"></span>
    </label>
  </div>
</template>

<script>
  export default {
    props: {
      id: {
        type: String,
        default: '',
      },
      autocomplete: {
        type: String,
        default: '',
      },
      error: {
        type: Boolean,
        default: false,
      },
      value: String,
      placeholder: String,
      required: {
        type: Boolean,
        default: false,
      },
      styles: String,
      variant: {
        type: String,
        default: '',
      },
      disabled: {
        type: Boolean,
        default: false,
      },
      icon: {
        type: Boolean,
        default: false,
      }
    },

    data() {
      return {
        hasError: false,
      }
    },
    computed: {
      variants() {
        return {
          'new-input--error': this.error || this.hasError,
          [`new-input--${this.variant}`]: this.variant,
        }
      },
      iconClass() {
        return {
          'new-input__icon--error': this.error || this.hasError,
        }
      }
    },
    methods: {
      handleEmailInputValue(){
        const regex = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if(this.value && this.value.match(regex) === null || this.value.length > 255) {
          this.hasError = true
        } else {
          this.hasError = false
        }
        const val = this.value.trim()
        this.value = val
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';

  .new-input {
    position: relative;

    label {
      display: flex;
    }

    &--error {
      border: 2px solid $red!important;
      &:focus {
        border: none!important;
      }
    }
    &__field {
      padding-right: 64px;
      border: #c6c7c8 solid 1px;
      @include text(2);
      @media (min-width: 768px) {
        padding-right: 84px;
        @include text(3);
        height: 72px;
      }
      &:focus {
        border: none;
      }
    }
    &__icon {
      position: absolute;
      display: flex;
      align-items: center;
      height: 100%;
      cursor: pointer;
      color: $blue;
      line-height: 0.5;
      @include text(2);
      right: 16px;
      &--error {
        color: $red!important;
      }
      @media (min-width: 768px) {
        @include text(3);
        right: 24px;
      }

      &:before {
        height: 100%;
        display: flex;
        align-items: center;
      }

      &:active {
        transform: scale(1.2, 1.2);
      }
    }
  }
</style>
