<template>
  <div>
    <div class="links-container">
      <div v-for="(link, idx) in value" :key="idx" class="create-event__input">
        <a
          :href="link"
          target="_blank"
          :class="errorMessages && errorMessages[idx] ? 'error' : ''"
        >{{ link }}</a>
        <span data-icon="h" class="icon" @click="deleteLink(idx)" />
      </div>
    </div>

    <div class="input-block input-block_plus">
      <input
        :id="id"
        ref="input"
        v-model.trim="inputLink"
        class="input-block__input"
        type="url"
        @keydown.enter.prevent="addLink"
      />
      <span class="right" @click="addLink">
        <span v-tooltip.auto="$t('eventCreate.addLink')" class="ww-icn-plus"></span>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    getter: {
      type: String,
      default: '',
    },
    errorMessages: {
      type: [Object, String],
    },
    eventLinks: {
      type: Array,
      default: () => [],
    },
    id: {
      type: String,
      default: '',
    },
    value: {
      type: Array,
      required: true,
    },
  },

  data: () => ({
    inputLink: '',
  }),

  methods: {
    addLink() {
      if (!this.inputLink) return

      const newLink = this.formatLink(this.inputLink)

      if (!this.checkLink(newLink)) return

      const newLinks = [...this.value, newLink]
      this.$emit('input', newLinks)

      this.inputLink = ''
    },
    formatLink(link) {
      return link.match('http://') || link.match('https://')
        ? link
        : 'http://' + link
    },
    checkLink(link) {
      return !this.value.some(l => l === link)
    },
    deleteLink(index) {
      const newLinks = this.value.filter((_, i) => i !== index)

      this.$emit('input', newLinks)
    },
  },
}
</script>

<style lang="scss">
@import '~/assets/css/variables.scss';

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.create-event__input {
  display: flex;
  align-items: center;
  color: $blue;
  margin-bottom: $base * 2;
  word-break: break-all;

  a {
    display: block;
    margin-right: $base * 2;
    line-height: 1.5;
  }

  .icon {
    font-weight: bold;
    font-size: $base * 1.5;
    line-height: 1;
    cursor: pointer;
  }

  .error {
    color: $red;
    font-weight: 400;
    text-decoration: underline;
  }
}
///////////////////
// input-block.scss
.input-block {
  display: block;
  @mixin icon($icon-size, $right) {
    .input-block__input {
      padding-right: 2 * $right + $icon-size;
    }

    .input-block__icon {
      font-size: $icon-size;
      right: $right;

      @media (max-width: 991px) {
        font-size: $base * 3;
      }
    }
  }

  @mixin icon-interactive($icon-size, $right) {
    @include icon($icon-size, $right);

    .input-block__icon {
      cursor: pointer;
      transition: 0.25s ease-out;
    }
  }

  position: relative;

  &_plus {
    @include icon-interactive(4.5 * $base, 2 * $base);

    .input-block__icon {
      &:hover,
      &:focus {
        transform: translateY(-50%) scale(1.1);
      }
    }
  }

  &_eye {
    @include icon-interactive(3.25 * $base, 3 * $base);
  }

  &_user {
    @include icon(3.25 * $base, 2.875 * $base);
  }

  &_envelope {
    @include icon(3 * $base, 3 * $base);
  }

  .right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 64px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    .ww-icn-plus {
      font-size: $base * 3;
      line-height: 0.5;
      color: $blue;
    }
  }
}
///////////////////
</style>
