<i18n>
{
    "ru": {
        "createEvent": "Создать событие",
        "eventMainInfo": "Расскажите о событии",
        "eventPlaceTime": "Где и когда",
        "eventOrganizer": "Организатор",
        "eventPromo": "Продвижение",
        "next": "Далее",
        "back": "Назад"
    },
    "en": {
        "createEvent": "Create event",
        "eventMainInfo": "Name your event and tell us about it",
        "eventPlaceTime": "Where and when",
        "eventOrganizer": "Organizer",
        "eventPromo": "Event promotion",
        "next": "Next",
        "back": "Back"
    },
    "es": {
        "createEvent": "Crear un evento",
        "eventMainInfo": "Describa el evento",
        "eventPlaceTime": "Cuándo y dónde",
        "eventOrganizer": "Organizador",
        "eventPromo": "Promoción",
        "next": "Siguiente",
        "back": "Regresar"
    }
}
</i18n>

<template>
    <div class="wrapper create-page">
        <h1 class="create-page__title">{{ $t('createEvent') }}</h1>
        <client-only>
            <form @submit.prevent="createEvent">
                <div class="create-section">
                    <h3 class="create-section__title">1. {{ $t('eventMainInfo') }}</h3>
                    <EventMainInfo
                        :title.sync="$v.title.$model"
                        :description.sync="description"
                        :links.sync="links"
                        :language.sync="language"
                        :cover.sync="cover"
                        :errors="errors"
                        @updateCroppedImage="updateCroppedImage"
                    />
                </div>
                <div class="create-section">
                    <h3 class="create-section__title">2. {{ $t('eventPlaceTime') }}</h3>
                    <EventPlaceTime
                        :period.sync="period"
                        :isOnline.sync="isOnline"
                        :timezone.sync="timezone"
                        :city.sync="city"
                        :location.sync="location"
                        :errors="errors"
                        :checkEndDate="true"
                    />
                </div>
                <div class="create-section">
                    <h3 class="create-section__title">3. {{ $t('eventOrganizer') }}</h3>
                    <EventOrganizer :user="GET_USER" :emails.sync="emails" :phones.sync="phones" />
                </div>
                <div class="create-section section4">
                    <h3 class="create-section__title">4. {{ $t('eventPromo') }}</h3>
                    <EventPromo
                        :gender.sync="gender"
                        :age.sync="age"
                        :tags.sync="tags"
                        :newTags.sync="newTags"
                        :genres.sync="genres"
                        :category.sync="category"
                        :errors="errors"
                    />
                </div>
                <div class="form-submit__wrapper">
                    <div class="wrapper form-submit">
                        <div>
                            <PanelButton disabled>
                                <template #leftIcon>
                                    <span class="icon icon-left ww-icn-arrow-right" />
                                </template>
                                {{ $t('back') }}
                            </PanelButton>
                        </div>
                        <div>
                            <PanelButton fullWidth>
                                <template #rightIcon>
                                    <span class="icon ww-icn-arrow-right" />
                                </template>
                                {{ $t('next') }}
                            </PanelButton>
                        </div>
                    </div>
                </div>
            </form>
            <FixedGuideButton class="hidden-desktopSD-and-down" />
        </client-only>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { required } from 'vuelidate/lib/validators'
import EventMainInfo from '~/components/events/create/EventMainInfo'
import EventPlaceTime from '~/components/events/create/EventPlaceTime'
import EventOrganizer from '~/components/events/create/EventOrganizer'
import EventPromo from '~/components/events/create/EventPromo'
import PanelButton from '~/components/common/buttons/PanelButton'
import FixedGuideButton from '~/components/events/create/FixedGuideButton'

function makeComputedField({ key }) {
    return {
        [key]: {
            get() {
                return this.event[key]
            },
            set(v) {
                this.SET_FIELD({ value: v, key })
            },
        },
    }
}

function makeComputedFields(v) {
    return v.reduce((result, field) => {
        return { ...result, ...makeComputedField(field) }
    }, {})
}

export default {
    layout: getEventCreatePageLayout,
    name: 'CreateEvent',

    components: {
        EventMainInfo,
        EventPlaceTime,
        EventOrganizer,
        EventPromo,
        PanelButton,
        FixedGuideButton,
    },

    computed: {
        ...mapGetters({
            event: 'createEvent/event',
            serverErrors: 'createEvent/serverErrors',
            croppedCoverImage: 'createEvent/croppedCoverImage',
            GET_USER: 'user/GET_USER',
            PRE_STATUS_IS_PROMO: 'newEvent/PRE_STATUS_IS_PROMO',
            IS_AUTH: 'auth/IS_AUTH',
        }),
        ...makeComputedFields([
            { key: 'title' },
            { key: 'description' },
            { key: 'links' },
            { key: 'period' },
            { key: 'isOnline' },
            { key: 'timezone' },
            { key: 'city' },
            { key: 'location' },
            { key: 'language' },
            { key: 'gender' },
            { key: 'age' },
            { key: 'cover' },
            { key: 'tags' },
            { key: 'newTags' },
            { key: 'category' },
            { key: 'genres' },
            { key: 'phones' },
            { key: 'emails' },
        ]),
        errors() {
            return {
                title: {
                    client: this.$v.title,
                    server: this.serverErrors.title,
                },
                description: {
                    client: this.$v.description,
                    server: this.serverErrors.description,
                },
                language: {
                    client: this.$v.language,
                    server: this.serverErrors.language,
                },
                links: {
                    client: this.$v.links,
                    server: this.serverErrors.links,
                },
                cover: {
                    client: this.$v.cover,
                    server: this.serverErrors.cover,
                },
                tags: {
                    server: this.serverErrors.tags,
                },
                newTags: {
                    server: this.serverErrors.new_tags,
                },
                category: {
                    server: this.serverErrors.category,
                },
                genres: {
                    server: this.serverErrors.genres,
                },
                city: {
                    client: this.$v.city,
                },
                location: {
                    client: this.$v.location,
                },
                period: {
                    client: this.$v.period,
                },
            }
        },
    },

    validations() {
        return {
            title: {
                required,
            },
            description: {
                required,
            },
            language: {
                required,
            },
            cover: {
                required,
            },
            period: {
                required,
            },
            ...(!this.isOnline && {
                city: {
                    required,
                },
                location: {
                    required,
                },
            }),
        }
    },

    methods: {
        ...mapActions({
            CREATE_EVENT: 'createEvent/CREATE_EVENT',
            SET_FIELD: 'createEvent/SET_FIELD',
            SET_CROPPED_COVER_IMAGE: 'createEvent/SET_CROPPED_COVER_IMAGE',
        }),
        updateCroppedImage(v) {
            this.SET_CROPPED_COVER_IMAGE(v)
        },
        async uploadImage() {
            this.$store.dispatch('popovers/SWITCH_PRE_LOADER', true)

            const file = await fetch(this.croppedCoverImage)
                .then(res => res.arrayBuffer())
                .then(
                    buffer =>
                        new File([buffer], 'imagefromB64.png', { type: 'image/png' }),
                )

            try {
                const image = await this.$store.dispatch('images/UPLOAD', {
                    file,
                    params: {
                        find_gradient: true,
                        find_main_color: true,
                    },
                })

                this.SET_FIELD({
                    value: image,
                    key: 'cover',
                })
                this.SET_CROPPED_COVER_IMAGE(null)

                return true
            } catch (err) {
                this.$store.dispatch('notifications/error', this.$t('error.coverFailed'))

                return false
            } finally {
                this.$store.dispatch('popovers/SWITCH_PRE_LOADER', false)
            }

        },
        async createEvent() {
            this.$v.$touch()

            if (this.$v.$error) {
                this.$nextTick(() => {
                    scrollToElement({
                        element: document.querySelector('[data-form-error]'),
                        align: 'top',
                    })
                })

                return
            }

            if (this.croppedCoverImage) {
                const isUploaded = await this.uploadImage()
                if (!isUploaded) return
            }

            this.$store.dispatch('popovers/SWITCH_PRE_LOADER', true)

            if (this.PRE_STATUS_IS_PROMO) {
                if (this.IS_AUTH) {
                    const { url_id } = await this.CREATE_EVENT()
                    this.$router.push({ name: 'events-create-a-3-id', params: { id: url_id } })
                } else {
                    this.$router.push({ name: 'events-list' })
                }
            } else {
                this.$router.push({ name: 'events-list' })
            }

            this.$store.dispatch('popovers/SWITCH_PRE_LOADER', false)
        },
    },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.create-page {
    margin-top: 24px;
    max-width: 856px;

    &__title {
        @include text(4);
        font-weight: bold;
        margin-bottom: 38px;

        @media (min-width: $desktopSD) {
            @include text(5);
            margin-bottom: 48px;
        }

        @media (min-width: $desktopHD) {
            @include text(6);
        }
    }
}

.create-section {
    margin-bottom: 60px;

    @media (min-width: $desktopSD) {
        margin-bottom: 96px;
    }

    &__title {
        @include text(2.25);
        font-weight: bold;
        margin-bottom: 14px;

        @media (min-width: $desktopSD) {
            margin-bottom: 34px;
            @include text(3);
        }
    }
}

.form-submit {
    display: flex;
    justify-content: space-between;
    .icon {
        height: 16px;
        &-left {
            transform: rotate(180deg);
        }
    }
    & > :first-child {
        margin-right: 8px;
    }

    & > * {
        flex: 1;
        max-width: 232px;
    }

    &__wrapper {
        z-index: 100;
        padding: 8px 0;
        background-color: #fff;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;

        @media (min-width: $desktopSD) {
            padding: 16px 0;
        }

        @media (min-width: $desktopHD) {
            padding: 24px 0;
        }

        @media (min-width: $sideShow) {
            max-width: calc(100% - 96px);
        }
    }
}
</style>
